/* Styling for the navigation bar - ensuring that it is fixed to the top */
#nav-bar {
  clear: both;
  position: fixed;
  height: 80px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #00a087;
  font-color: #e8fdff;
  padding-left: 2em;
  padding-right: 2em;
}

    /* Fixing the size of the logo into the CSS file, rather then it being in the HTML file */
    #nav-bar .logo {
      width: 80px;
      height: 80px;
      padding-right: 5px;
      float: left;
    }

    /* Altering the text 'Tweeter' in the NavBar to line up with the logo */
    #nav-bar .header {
      padding-left: 5px;
      font-size: 200%;
      vertical-align: center;
      float: left;
      line-height: 2.5em;
    }

    /* Styling for the compose button in the NavBar */
    #nav-bar .compose-button {
      margin-top: 1.25em;
      float: right;
      height: 45%;
      width: 5%;
    }

/* Styling for the page footer */
.page-footer {
  text-align: center;
}

