/* Styling for the block where we compose tweets */
.new-tweet {
  overflow: auto;
  padding-right: 2em;
  padding-left: 2em;
  padding-bottom: 5px;
  text-align: center;
  background: #eaeaed;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
}

/* Styling for the character counter */
.counter {
  display: inline-block;
  float: right;
  font-style: italic;
}

/* Styling for the 'Compose Tweets' title */
.compose {
  text-align: left;
  text-decoration: underline;
  padding-right: 10px;
}

/* Styling for the submit tweet button */
.tweet-button {
  display: inline-block;
  float: left;
}

/*Styling for the text box in which the tweets are composed */
textarea {
  padding-top: 3px;
  padding-left: 5px;
  height: 60px;
  width: 325px;
}
