#printed-tweets {
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  margin-top: 1em;
}

#printed-tweets .tweet-header {
  background-color: lightgrey;
  padding-left: 5px;
  padding: 1px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

  .tweet-header .avatar {
    height: 25%;
    width: 25%;
    float: left;
    border-radius: 10px;
    padding-top: 5px;
    padding-left: 5px;
  }

  .tweet-header .name {
    text-align: center;
    padding-right: 7em;
  }

  .tweet-header .username {
    text-align: right;
    padding-right: 1em;
  }

#printed-tweets .tweet-content {
  padding: 5px;
}

#printed-tweets .tweet-footer {
  border-top:solid;
  border-width: 1px;
  border-color: lightgrey;
  font-size: 11px;
  padding-left: 5px;
  padding: 1px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.flag {
  float: right;
  margin-right: 5px;
  height: 6.5%;
  width: 6.5%;
}

.heart {
  float: right;
  margin-right: 5px;
  height: 7.5%;
  width:7.5%;
}

.RT {
  float: right;
  margin-right: 5px;
  height: 7.5%;
  width:7.5%;
}